<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama İfadesi Giriniz">
  </div>

<div *ngIf="filterText.length>3" class="alert alert-primary">
    {{filterText}} aradınız.
</div>

<table *ngIf="dataLoaded==true" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün Adı</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Kdv'li Fiyat</th>
            <th>Stok Adedi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
        <td>{{product.productID}}</td>
        <td>{{product.productName | uppercase}}</td>
        <td>{{product.categoryID}}</td>
        <td>{{product.unitPrice | currency}}</td>
        <td>{{product.unitPrice | vatAdded:18 | currency}}</td>
        <td>{{product.unitsInStock}}</td>
        <td><button (click)="addToCart(product)" class="btn btn-success btn-sm">Sepete Ekle</button></td>
    </tr>
</tbody>
</table>